# Firebase Config (Get from Firebase Console)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Gemini API
GEMINI_API_KEY=

# C7 Payment (Vercel Variables)
URL_BASE_C7=https://api.carteirado7.com/v2
C7_API_KEY=
C7_CHAVE_SECRETA=
